.auth__input-error {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  color: #ff0000;

  position: absolute;
  top: calc(100% - 2px);
  left: 0;
}

@media screen and (max-width: 500px) {
  .auth__input-error {
    top: calc(100% - 0px);
    font-size: 9px;
    line-height: 10px;
  }
}
