@import url(./__heading/auth__heading.css);

@import url(./__form/auth__form.css);
@import url(./__field/auth__field.css);
@import url(./__input/auth__input.css);
@import url(./__input-error/auth__input-error.css);
@import url(./__submit/auth__submit.css);
@import url(./__link/auth__link.css);

.auth {
  padding: 60px 0;
  color: white;
  max-width: 358px;
  margin: 0 auto;
}
