@import url(./__element/elements__element.css);
@import url(./__image/elements__image.css);
@import url(./__caption/elements__caption.css);

@import url(./__title/elements__title.css);
@import url(./__like/elements__like.css);
@import url(./__like-button/elements__like-button.css);
@import url(./__like-button/_active/elements__like-button_active.css);
@import url(./__like-counter/elements__like-counter.css);
@import url(./__remove/elements__remove.css);

.elements {
  display: grid;
  justify-content: center;

  gap: 20px 18px;
  grid-template-columns: repeat(auto-fit, 282px);

  padding: 0;
  list-style-type: none;
}
