.profile__photo-overlay {
  display: block;
  position: relative;
}

.profile__photo-overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.profile__photo-overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../../../images/profile__edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  opacity: 0;
}

.profile__photo-overlay:hover:before,
.profile__photo-overlay:hover:after {
  opacity: 1;
}
