.popup__save {
  min-height: 50px;
  box-sizing: border-box;

  border: none;
  background: rgb(0, 0, 0);
  border-radius: 2px;

  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;

  margin: 38px 0 0 0;
}

.popup__save:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}

.popup__save:disabled {
  opacity: 0.2;
  background: none;
  border: 1px solid #000000;
  color: black;
  pointer-events: none;
}

@media screen and (max-width: 500px) {
  .popup__save {
    font-size: 14px;
    line-height: 17px;
    min-height: 40px;
  }
}
